# Hugo Configuration
# Documentation: https://gohugo.io/getting-started/configuration/

title: Nelson Cheung
baseURL: 'https://nelson-cheung.github.io/'

############################
## LANGUAGE
############################

defaultContentLanguage: en
hasCJKLanguage: false
defaultContentLanguageInSubdir: false
removePathAccents: true

############################
## ADVANCED
############################

enableGitInfo: false
enableEmoji: true
enableRobotsTXT: true
ignoreFiles: [\.ipynb$, .ipynb_checkpoints$, \.Rmd$, \.Rmarkdown$, _cache$]
permalinks:
  authors: '/author/:slug/'
imaging:
  resampleFilter: lanczos
  quality: 75
  anchor: smart
markup:
  goldmark:
    renderer:
      unsafe: true
